<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--TODO:change the file path-->
        <RollingRandomAccessFile name="LogToRollingRandomAccessFile" fileName="/var/log/adms/adms-web.log"
                                 filePattern="/var/log/adms/$${date:yyyy-MM-dd}/adms-web-%d{MM-dd-yyyy-HH}-%i.log.gz" >
            <PatternLayout>
                <Pattern>%d [%X{traceId},%X{spanId}] %-5p [%t] %C{1.} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="com.psl.adms" level="debug" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Logger name="org.springframework.jms" level="error" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Logger name="org.apache.activemq" level="info" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Logger name="org.springframework.security" level="debug" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Logger name="org.keycloak" level="debug" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
